#leftImage,#rightImage,#middleImage {
  float: left;
  width: 20%;
  padding: 15px;
}
#imageSection{
  content: "";
  clear: both;
  display: table;
}

#home {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navajowhite;
    color: black;

}

/* li {
  float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 } */
 

  

  